body {
  background-image: url(img/vecteezy_colorful-flower-field-with-warm-sunlight-and-blue-sky_22776816.jpg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.login {
  border: 1px;
  border-color: blue;
  position: relative;
  z-index: 1;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
}

.form input {
  font-family: "Roboto", sans-serif;
  width: 100%;
  border: 10px;
  border-color: red;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 20px;
}