body {
  background-image: url(/img/vecteezy_colorful-flower-field-with-warm-sunlight-and-blue-sky_22776816.jpg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

.login-page {
  z-index: 1;
  width: 250px;
  padding: 10% 0 0;
  margin: auto;
  max-width: 350px;
}

.login-form {
  border-width: 3px;
  border-style: hidden solid;
  border-color: #039BE5;;
}

.login-form input {
  font-family: "Roboto", sans-serif;
  margin: 25px 40px 15px;
  background: #EEEEEE;
  width: 60%;
  padding: 5px;
  font-size: 12px;
}

.login-form button {
  font-family: 'Roboto', 'sans-serif';
  background-color: #4DD0E1;
  margin: 10px 95px;
  width: 50px;
}